img {
	max-width:100%;
}
.youtube-container .youtube-videos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
	.youtube-container .youtube-video-desc span {
		display: block;
		font-weight: 600;
	}
	.youtube-container .youtube-video-cont {
		box-sizing: border-box;
		padding:30px 15px;
		cursor:pointer;
        flex-grow:0!important;
	}
		.youtube-container .youtube-thumb {
			position:relative;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			cursor:pointer;
		}
			.youtube-container .youtube-thumb:before {
				content: "";
				display: block;
				width:98px;
				height:98px;
				background-image:url(../images/play-btn.svg);
				background-size:cover;
				background-repeat:no-repeat;
				position:absolute;
				top:50%;
				left:50%;
				transform:translateX(-50%) translateY(-50%);
			}
		.youtube-container .youtube-video-cont span {
			font-weight:600;
			padding:5px 0;
		}
@media only screen and (min-width: 768px) {
	.youtube-container .youtube-video-cont {
		box-sizing: border-box;
		padding: 30px 10px;
		cursor: pointer;
	}
		.youtube-container.one .youtube-videos {
			flex-direction: row-reverse;
		}
		.youtube-container.one .youtube-video-desc, .youtube-container.one .youtube-video-cont {
			flex:1 0 50%;
		}
			.sprout-container.one .youtube-videos {
				justify-content:space-around;
			}
		.youtube-container.two .youtube-video-cont {
			flex: 1 0 48%;
		}
		.youtube-container.three .youtube-video-cont, .youtube-container.four .youtube-video-cont {
			flex: 1 0 31%;
		}
}

@media only screen and (min-width: 992px) {
	.youtube-container.one .youtube-video-desc {
		flex: 1 0 30%;
	}
	.youtube-container.one .youtube-video-cont {
		flex: 1 0 60%;
	}
}

.youtube-video-container {
	display: none;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
	.youtube-video-container .container, .youtube-video-container .row, .youtube-video-container .col-sm-12 {
		height: 100%;
	}
	.youtube-video-inner {
		display:none;
		padding: 30px;
		position:absolute;
		left:50%;
		top:50%;
		transform:translateX(-50%) translateY(-50%);
	}
		.youtube-video-frame {
			position:relative;
			background: #fff;
			padding:0 30px;
			-webkit-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.2);
			-moz-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.2);
			box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.2);
		}
			.youtube-video-frame #player {
				width:720px;
				height:405px;
				max-width:80vw;
			}
			.video-title {
				font-size:18px;
				font-weight:600;
				padding:5px 0;
			}
			.video-description {
				font-size:15px;
				line-height:1.5em;
				padding:5px 0 10px;
			}
			.youtube-video-frame span.close {
				font-size: 18px;
				font-weight: 700;
				cursor:pointer;
				position:absolute;
				top:5px;
				right:30px;
			}