/* FORM */
#agronomy-form-container .row {
    margin-top:30px;
}
    #agronomy-form-container .row:first-child {
        margin-top:0;
    }
    #agronomy-form-container p.text-center {
        font-weight:bold;
    }
#agronomy-form-container img {
    width: 100%;
    border: 1px solid #B0B0B0;
}
    #agronomy-form-container a.btn-default {
        margin-top: 30px;
    }
    #agronomy-form-container p strong {
        color: #d25f15;
        font-size: 2.1rem;
    }
    #agronomy-form-container ul {
        padding-left:20px;
    }
        #agronomy-form-container li {
            font-size: 1.4rem;
            font-weight: 700;
        }

.form-container {
    position: relative;
}

.input-container {
    position:relative;
    margin-top:30px;
}
    .input-container:first-child {
        margin-top:0;
    }
    .input-container label {
        background:#fff;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #797878;
        padding:2px 10px 2px 0;
        z-index:-1;
    }
    .input-container input {
        background:none;
        border: 2px solid #787e7e;
    }
        .input-container input.error {
            border-color:red!important;
        }
        .input-container input:focus {
            border-color: #d25f15;
        }
            .input-container input:focus + label, 
            .input-container label.focused {
                background: #fff;
                top: 0;
                left: 0;
                z-index: 0;
            }

div.form-error {
    color:red;
    font-size:1.2rem;
    position:absolute;
    display:none;
}

/*p.legal-copy {
    font-size:.9rem;
    line-height:1.5rem;
    margin:15px 0;
}*/

.thank-you {
    display:none;
    width:100%;
    text-align:center;
    margin-top:30px;
}
    .thank-you h3 {
        text-transform:none;
        font-weight:700;
    }
    .thank-you a {
        display: block;
        color: #d25f15;
        font-weight:700;
        text-decoration:underline;
        margin-top:10px;
    }
        .thank-you a:first-child {
            margin-top:0;
        }

@media only screen and (min-width:768px) {
    #agronomy-form-container .row {
        margin-top: 50px;
    }
    .form-container.submitted {
        height:348px;
    }
    .thank-you {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top:0;
    }
}

@media only screen and (min-width:992px) {
    .form-container.submitted {
        height:460px;
    }
}

@media only screen and (min-width:1200px) {
    .form-container.submitted {
        height: 563px;
    }
}