#legal p {
    font-size: 12px;
    line-height: 14px;
}

section:not(#mailing-list) .agronomy-card h3 {
    font-family: 'GHVeneerClean' !important;
}

@media only screen and (min-width: 1024px) {
    #legal.has-arch {
        padding-bottom: 0px;
    }
}

#corn-hybrid-insights-banner {
  background-size: cover;
  background-position: center center;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  #corn-hybrid-insights-banner {
    height: 400px;
  }
}


#corn-hybrid-insights section h2,
#corn-hybrid-insights section h3,
#corn-hybrid-insights section h4,
#corn-hybrid-insights section:not(#mailing-list) .agronomy-card h3  {
  font-family: 'GHVeneerClean';
}

#corn-hybrid-insights section:not(#mailing-list) h2,
#corn-hybrid-insights section:not(#mailing-list) h3,
#corn-hybrid-insights section:not(#mailing-list) h4 {
  font-family: "GHVeneerClean";
  font-weight: normal;
  color: #000;
  letter-spacing: unset;
  /* text-align: center; */
}

#corn-hybrid-insights section:not(#mailing-list) h2 {
  font-size: 3.6rem;
  line-height: 3.6rem;
}
section a {
  color: #df6420;
}

@media only screen and (min-width: 768px) {
  .row-eq-height {
    display: flex;
  }
}

/*********************************************************************       
  intro     
*********************************************************************/
#agro-intro {
  
  margin-top: -130px;
  min-height: 100%;
  padding-bottom: 36px;
}

/*********************************************************************       
  products     
*********************************************************************/
#products {
  margin-top: -180px;
  padding-top: 0px;
  padding-bottom: 50px;
}
#products.agronomist {
  padding-top: 0;
  margin-top: 30px;
}
#products.agronomist strong {
  font-size: 18px;
}
#products.agronomist p {
  margin-bottom: 0;
}
#products.agronomist h1 {
  margin: 50px 0;
  font-size: 3.6rem;
  line-height: 3.6rem;
}
a.sg-link {
  display: block;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
  margin: 30px 0;
}
.product-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  border-left: 1px solid #df6420;
  margin-top: 30px;
}
.col-sm-4:first-child .product-container {
  margin-top: 0;
}
.product-container a.product-name {
  font-family: "GHVeneerClean";
  font-size: 2.4rem;
  text-decoration: underline;
}
.product-container span.rm {
  font-size: 1.8rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 20px;
}
section:not(#mailing-list) .product-container h3 {
  text-align: left;
}
.product-container ul {
  padding-left: 16px;
  margin: 15px 0;
}
.product-container ul li {
  font-size: 1.2rem;
}
.product-links {
  margin-top: auto;
}
.product-links a {
  display: block;
  font-weight: 600;
  margin-top: 10px;
}
.product-links a:first-child {
  margin-top: 0;
}
.quote-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.quote-container .agronomist-image {
  flex-shrink: 0;
  margin-right: 30px;
}
.quote {
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
}
.quote a {
  display: inline-block;
  margin-top: 10px;
  font-style: normal;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .product-container {
    margin-top: 0;
  }
  #products.agronomist {
    margin-top: 110px;
  }
}

/*********************************************************************       
  featured agronomist
*********************************************************************/
#agronomist {
  margin-top: 20px;
  z-index: 100;
}
.featured-agronomist {
  text-align: center;
}
.featured-agronomist .agronomist-image {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  flex: none;
}
.featured-agronomist .agronomist-image img {
  width: 100%;
  height: 100%;
}
.featured-agronomist .agronomist-info {
  width: auto;
}
.featured-agronomist .agronomist-info .agronomist-name {
  font-size: 3rem;
}
.featured-agronomist .agronomist-info .agronomist-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #df6420;
}
@media only screen and (min-width: 576px) {
  #agronomist {
    margin-top: -350px;
  }
}
@media only screen and (min-width: 768px) {
  #agronomist {
    margin-top: -450px;
  }
  .featured-agronomist {
    display: flex;
    justify-content: center;
  }
  .featured-agronomist .agronomist-image {
    width: 255px;
    height: 255px;
    margin: 0 25px 0 0;
  }
  .featured-agronomist .agronomist-info .agronomist-name {
    font-size: 6rem;
    line-height: 6rem;
  }
}

/*********************************************************************       
  insights
*********************************************************************/
#insights:not(.agronomists-hidden) {
  padding-bottom: 50px;
}

#insights .card-content {
  background-image: none;
}

#insights .row.results-row {
  display: flex;
  flex-wrap: wrap;
}

#insights .agronomy-card.corn-insights {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 100%;
}
@media (min-width: 768px) {
  #insights .agronomy-card.corn-insights {
    margin: 0 1% 30px;
    max-width: 31.3%;
  }
}

#insights .agronomy-card.corn-insights .card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#insights .agronomy-card.corn-insights .card-taxonomy {
  margin-top: 30px;
}

#insights .agronomy-card.corn-insights .card-content-details {
  flex: 1;
}

/*********************************************************************       
    agronomics  
*********************************************************************/
#agronomics {
  background-color: #f0f0f0;
  padding-top: 91px;
}
.orange-bar {
  height: 30px;
  width: 100%;
  background: #d25f15;
  opacity: 0.7;
  position: absolute;
  top: 0;
}
.agronomist-info-cont {
  margin-top: 60px;
  text-align: center;
}
.agronomist-info {
  margin-top: 30px;
}
.agronomist-info:first-child {
  margin-top: 0;
}
.agronomist-info .agronomist-image {
  display: block;
  width: 162px;
  height: 162px;
  margin: 0 auto;
}
.agronomist-info .agronomist-image img {
  width: 100%;
  height: 100%;
}
.agronomist-info .agronomist-name {
  display: block;
  font-family: "GHVeneerClean";
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 25px;
}
.agronomist-info .agronomist-title {
  font-size: 1.4rem;
  color: #000;
}
.agronomist-info .agronomist-location,
.agronomist-info .agronomist-education,
.agronomist-info .agronomist-twitter {
  margin-top: 10px;
}
.agronomist-info .agronomist-location span,
.agronomist-info .agronomist-education span,
.agronomist-info .agronomist-twitter span {
  display: block;
}
.agronomist-info a {
  display: block;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .agronomist-info-cont {
    display: flex;
    justify-content: space-evenly;
  }
  .agronomist-info {
    width: 20%;
    text-align: left;
    margin-top: 0;
  }
  .agronomist-info .agronomist-image {
    margin: 0;
  }
}

/*********************************************************************       
  banner     
*********************************************************************/

@media only screen and (min-width: 768px) {
  section {
    position: relative;
  }

  #agronomists {
    max-height: 500px !important;
    position: relative;
    min-height: auto !important;
    margin-top: 0px !important;
  }

  #prodTitle {
    margin-top: -150px !important;
  }

  #agroTitle {
    margin-top: -485px !important;
  }
}

@media only screen and (max-width: 667px) {
  section {
    min-height: 400px;
    position: relative;
  }

  #products {
    margin-top: -180px;
    padding-top: 50px !important;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 400px) {
  section {
    min-height: 0px;
    position: relative;
  }

  #products {
    margin-top: -180px;
    padding-top: 205px !important;
    padding-bottom: 50px;
  }
}
