
   .dvLoadingImage{
       position:fixed;top:0px;right:0px;width:100%;height:100%;background-color:#FFF;
    background-image:url('../../images/GHLoader.gif'); background-repeat:no-repeat;background-position:center;z-index:10000000;  
    opacity: 0.4;
}


     .not-active {
 pointer-events: none;
 cursor: default;
}   

  input[type="button"] {
        float: none;
        margin: 3px;
        background: #000 !important;
        width: auto !important;
        margin-top: 0 !important;
        height: 44px !important;
        padding: 0 40px !important;
}


#DivRow ul  
{
    list-style-type: none !important;
    font-size:14px;
}
    #DivRow   
{
      padding: 15px 0;
}
     .not-active {
 pointer-events: none;
 cursor: default;
}   

#filters a:hover, .selected {
     background-color: #d9d5d2 !important;
     border: 1px solid #d9d5d2 !important;
     color: #000 !important; 
}


@media only screen and (max-width: 767px) 
{
    input[type="button"] {
        float: none;
        margin: 3px;
        background: #000 !important;
        width: 98% !important;
        margin-top: 15px !important;
        height: 44px !important;
        padding: 0 40px !important;
}
  
    